
<footer class="container-fluid tribuo-footer mt-auto px-0">
    <div class="row pt-4 pb-4 justify-content-center no-gutters">
        <div class="col-md-auto pl-2 pr-2">
            <a href="https://github.com/oracle/tribuo/blob/main/LICENSE.txt">License</a>
        </div>
        <div class="col-md-auto pl-2 pr-2">
            <a href="https://labs.oracle.com/pls/apex/f?p=LABS:project_details:0:7">MLRG</a>
        </div>
        <div class="col-md-auto pl-2 pr-2">
            <a href="https://labs.oracle.com/">Oracle Labs</a>
        </div>
        <div class="col-md-auto pl-2 pr-2">
            <a href="https://github.com/oracle/tribuo/issues">Issues</a>
        </div>
    </div>
    <div class="row no-gutters pl-3 pr-3">
        <div class="col text-center">
            <p>Copyright © 2020, Oracle and/or its affiliates. All rights reserved. Oracle and Java are registered trademarks of Oracle and/or its affiliates.</p>
            <p>Other names may be trademarks of their respective owners.</p>
        </div>
    </div>
</footer>
