
@import "github-syntax.min.css";

body {
    font-family: 'Libre Franklin',Helvetica,Arial,serif;
    --tribuo-red: rgb(255, 29, 37);
    --tribuo-secondary-red: rgb(229, 0, 0);
    --tribuo-dark-red: rgb(126, 13, 17);
    --tribuo-hover-background: rgb(255, 231, 230);
    --tribuo-hover-text: rgb(145, 46, 48);
    --tribuo-nav-text: rgba(0, 0, 0, 0.5);
    --tribuo-grow-transition: all 0.2s ease-in-out;
    padding-top: 60px;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/font/SpaceGrotesk-Regular.woff") format("woff"),
    url("/assets/font/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/font/SpaceGrotesk-SemiBold.woff") format("woff"),
    url("/assets/font/SpaceGrotesk-SemiBold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/font/SpaceGrotesk-Bold.woff") format("woff"),
    url("/assets/font/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/font/SpaceGrotesk-Light.woff") format("woff"),
    url("/assets/font/SpaceGrotesk-Light.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, h4 {
    font-family: "SpaceGrotesk";
}

h4 {
    font-size: 18px;
}

.main {
    width: 50%;
    margin: 50px auto;
}

a {
    color: rgb(247, 38, 33);
}


.content a.btn, .content a.nav-link {
    text-decoration: none;
}

.content a {
    text-decoration: underline;
}

a:hover {
    color: rgb(247, 38, 33);
    text-decoration: underline;
}

/* Adjust anchor targets to add padding for the fixed top nav */
:target::before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
}

.source-links {
    min-height: 11em;
}

.overflow-source-links {
    overflow-x: auto;
    white-space: nowrap;
}

code.copy-url  {
    color: rgb(50, 50, 50);
}

pre code, code.preformat {
    font-weight: normal;
}

code,code a {
    color: #cd3108; /* deeper red */
    /*color: navy;*/
    font-weight: 600;
    word-wrap: normal;
}

.preformat {
    white-space: pre;
}

pre {
    background-color: rgba(255,244,244,1.0);
    /*border: 1px solid rgb(70, 70, 70);*/
    border-left: 3px solid var(--tribuo-red);
    padding-left: 8px;
    overflow-x: auto;
}

ul.feature-list li {
    /*
    list-style: none;
    border-left: 2px solid rgb(227,227,227);
    margin-left: -20px;
    padding-left: 20px;*/
}

/*
:::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 media breakpoints
*/

/* extra small is undecorated in terms of min-width */
/* for the FAQ image sizing, we don't control the markdown */
img[alt="faq graphic"] {
    max-width: 225px;
    height: auto;
}

.pythia {
    background:url(/assets/img/pythia640.jpg) no-repeat local center;
    background-position-y: 20px;
    background-size: contain;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    .tribuo-responsive-header {font-size:1.25rem;} /*1rem = 16px*/
    #search-input{width: 13ch;}

    /* for the FAQ image sizing, we don't control the markdown */
    img[alt="faq graphic"] {
        max-width: 225px;
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .tribuo-responsive-header {font-size:1.5rem;} /*1rem = 16px*/
    #search-input{width: 13ch;}

    /* for the FAQ image sizing, we don't control the markdown */
    img[alt="faq graphic"] {
        max-width: 400px;
        height: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .tribuo-responsive-header {font-size:1.75rem;} /*1rem = 16px*/
    #search-input{width: 19ch;}

    /* for the FAQ image sizing, we don't control the markdown */
    img[alt="faq graphic"] {
        max-width: 425px;
        height: auto;
    }

    .pythia {
        background:url(/assets/img/pythia640.jpg) no-repeat local center;
        background-position-y: 20px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .tribuo-responsive-header {font-size:2rem;} /*1rem = 16px*/
    #search-input{width: 19ch;}

    /* for the FAQ image sizing, we don't control the markdown */
    img[alt="faq graphic"] {
        max-width: 425px;
        height: auto;
    }
}

.tribuo-head {
    font-family: 'SpaceGrotesk';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}



.tribuo-subhead {
    font-size: large;
    font-weight: 700;
    padding-bottom: 0.5em;
    -webkit-font-smoothing: antialiased;
}

.tribuo-description {
    font-size: 14px;
    color: rgba(50,50,50,1.0);
    letter-spacing: 0.3px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
}

.tribuo-integration {
    font-family: 'SpaceGrotesk';
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 20px;
}

.tribuo-integration a {
    color: white;
}

.tribuo-integration a:hover {
    color: white;
    font-weight: 500;
}

.bgdots {
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)), url(/assets/img/background_dots.png);
    background-position: center center;
}

.hero-graphic {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-graphic {
    max-width: 500px;
    width: 100%;
}

.mdcentered {
    margin: 0 auto;
    display: block;
}

.prod-card {
    min-width: 30%;
    max-width: 80%;
}

.bg-red-tribuo {
    background-color: rgba(255,232,231,1.0);
}

.bg-light-tribuo {
    background-color: rgb(245, 245, 245) !important;
}

.bg-dark-tribuo {
    background-color: rgb(70, 70, 70) !important;
}

.tribuo-footer {
    border-top: 1px solid rgb(210, 210, 210);
    background-color: rgb(245, 245, 245) !important;
    color: rgb(169, 169, 169);
    font-size: 12px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    bottom: 0px;
}

.tribuo-footer a {
    color: rgb(130, 130, 130);
    font-size: 16px;
    font-weight: 500;
}

.tribuo-footer a:hover {
    color: rgb(50, 50, 50);
    font-size: 16px;
    font-weight: 500;
}


.roundeder {
    border-radius: 1.0rem !important;
}

.learn-more {
    -webkit-font-smoothing: antialiased;
    color: rgb(247, 38, 33);
    font-weight: 500;
    height: 16px;
}

.learn-more:hover {
    color: rgb(247, 38, 33);
    text-decoration: underline;

}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.jumbotron {
    background-color: rgba(255,232,231,1.0);
    text-align: center;
    color: rgb(50, 50, 50);
    letter-spacing: 0.3px;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 25px;
}

.jumbotron a {
    color: rgb(247, 38, 33);
    font-weight: bold;
}

.jumbotron a:hover {
    color: rgb(247, 38, 33);
    text-decoration: underline;
}

.table-of-contents {
}

.table-of-contents h2 {
    font-size: small;
    font-family: 'Libre Franklin',Helvetica,Arial,serif;
    /*font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;*/
    text-transform: uppercase;
    font-color: rgb(39, 38, 43);
}

.table-of-contents ul {
    font-size: small;
    list-style: none;
}

.table-of-contents ul > li::before {
    position: absolute;
    margin-left: -1.4em;
    color: #959396;
    content: "•";
}

.alert-note {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(223, 223, 223);
}

.btn-outline-tribuo {
    border: 2px solid var(--tribuo-red);
    color: var(--tribuo-red);
}

.btn-outline-tribuo:hover {
    color: rgb(255, 231, 232);
    background-color: var(--tribuo-red);
}

.btn-outline-tribuo:active {
    border: 2px solid var(--tribuo-secondary-red);
    color: rgb(255, 231, 232);
    background-color: var(--tribuo-secondary-red);
}

.btn-tribuo {
    border: 2px solid var(--tribuo-red);
    color: rgb(255, 231, 232);
    background-color: var(--tribuo-red);
}

.btn-tribuo:hover {
    border: 2px solid var(--tribuo-secondary-red);
    background-color: var(--tribuo-secondary-red);
}

.btn-tribuo:active {
    border: 2px solid var(--tribuo-dark-red);
    color: rgb(255, 231, 232);
    background-color: var(--tribuo-dark-red);
}


.sidebar {
    padding-left: 0px;
}

.learn-nav {
    top: 70px;
}
/* Top Nav */

.topnav .nav-link {
    padding-bottom: 3px;
    padding-top: 3px;
}

.topnav .nav-link:hover:not(.active):not(.active-learn) {
    background-color: var(--tribuo-hover-background);
    border-radius: 4px;
    color: var(--tribuo-hover-text) !important;
}


.topnav .nav-link.active, .topnav .nav-link.active-learn {
    position: relative;
    display: inline-block;
    color: var(--tribuo-red) !important;
    font-weight: 500;
}

.topnav .nav-link.active:before {
    content: '';
    border-bottom: 2px solid var(--tribuo-red);
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 0;
}

.topnav .nav-link.active-learn:before {
    content: '';
    border-bottom: 2px solid var(--tribuo-red);
    position: absolute;
    width: 3ch;
    left: 17%;
    bottom: 0;
}

/* top nav mobile */
button.navbar-toggler[aria-expanded="true"] {
    background-color: var(--tribuo-hover-background);
}

/* End top nav */

/* Override bootstrap's tab style */
.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    border: none;
    color: var(--tribuo-nav-text);
    padding-bottom: 3px;
    padding-top: 3px;
}


.nav-tabs .nav-link:hover:not(.active) {
    background-color: var(--tribuo-hover-background);
    border-radius: 4px;
    color: var(--tribuo-hover-text) !important;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    color: var(--tribuo-red);
    /*border-bottom: 3px solid rgb(247, 38, 33);*/
}

.nav-tabs .nav-link.active {
    position: relative;
    display: inline-block;
    color: var(--tribuo-red) !important;
    font-weight: 500;
}

.nav-tabs .nav-link.active:before {
    content: '';
    border-bottom: 2px solid var(--tribuo-red);
    position: absolute;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50%;
    left: 6%;
    bottom: 0;
}

/* End tab style override */

/* change dropdown click-activate color to red */
a.dropdown-item {
    color: var(--tribuo-nav-text) !important;
}
a.dropdown-item:active {
    background: rgb(247, 38, 33);
    color:#fff;
}
a.dropdown-item:hover {
    background: var(--tribuo-hover-background);
    color:#fff;
    color: var(--tribuo-hover-text) !important;
}


.nav-list {
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
    list-style: none;
    font-size: small;
    -webkit-font-smoothing: antialiased;
}

.nav-list a {
    color: rgb(50, 50, 50);

}

.nav-list .nav-list-item {
    position: relative;
    margin: 0;
}

.nav-list .nav-list-link {
    display: block;
    min-height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: normal;
    padding-right: 32px;
    padding-left: 16px;
}

.nav-list .nav-list-link.active {
    font-weight: 600;
    text-decoration: none;
    color: rgb(247, 38, 33);
}


.nav-list .nav-list-link:hover {
    text-decoration: underline;
}

.nav-list .nav-list-expander {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: rgb(247, 38, 33);
}

.nav-list .nav-list-expander:hover {
 }

.nav-list .nav-list-item > .nav-list {
    display: none;
    padding-left: 12px;
    list-style: none;
}

.nav-list .nav-list-item > .nav-list .nav-list-item {
    position: relative;
}

.nav-list .nav-list-item.active > .nav-list {
    display: block;
}

/* Styles specific to each indent level, hard locked to each one */
.sidebar .nav-list > .nav-list-item {
    font-weight: 600;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

.sidebar .nav-list > .nav-list-item > .nav-list > .nav-list-item  {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    border-left: 2px solid rgb(227, 227, 227);
    margin-left: 10px;
}

.sidebar .nav-list > .nav-list-item > .nav-list > .nav-list-item.active  {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    border-left: 2px solid var(--tribuo-red);
    margin-left: 10px;
    color: var(--tribuo-red);
}


.sidebar button,
.sidebar .dropdown,
.sidebar .dropdown-item {
    color: rgb(50, 50, 50) !important;
}

.sidebar a.dropdown-item.active,
.sidebar a.dropdown-item:hover.active,
.sidebar a.dropdown-item:focus.active{
    color: white !important;
    background-color: var(--tribuo-dark-red);
}

.sidebar .dropdown-menu {
    min-width: 3em;
}

.doc-ver-selected {
}

/* Breadcrumb nav */

.breadcrumb-nav {
    text-transform: uppercase;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

.breadcrumb-nav-list {
    padding-left: 0;
    margin-bottom: 12px;
    list-style: none;
}

.breadcrumb-nav-list-item {
    display: table-cell;
}

.breadcrumb-nav-list-item::before {
     display: none;
 }

.breadcrumb-nav-list-item::after {
     display: inline-block;
     margin-right: 8px;
     margin-left: 8px;
     color: grey;
     content: "/";
 }

.breadcrumb-nav-list-item:last-child::after {
     content: "";
 }

/* Search Styling courtesy of just the docs */

.search {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    height: 4rem;
    padding: .5rem;
    transition:padding linear 200ms
}

@media (min-width: 768px) {
    .search {
        position: relative !important;
        width: auto !important;
        height: 100% !important;
        padding: 0;
        transition:none
    }
}

.search-input-wrap {
    position: relative;
    z-index: 1;
    height: 3rem;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    transition:height linear 200ms
}

@media (min-width: 768px) {
    .search-input-wrap {
        position: absolute;
        width: 100%;
        max-width: 536px;
        height: 100% !important;
        border-radius: 0;
        box-shadow: none;
        transition:width ease 400ms
    }
}

.search-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: 2.5rem;
    font-size: 16px;
    background-color: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius:0
}

@media (min-width: 768px) {
    .search-input {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3.5rem;
        font-size: 14px;
        background-color: #fff;
        transition:padding-left linear 200ms
    }
}

.search-input:focus {
    outline:0
}

.search-input:focus + .search-label .search-icon {
    color:#7253ed
}

.search-label {
    position: absolute;
    display: flex;
    height: 100%;
    padding-left:1rem
}

@media (min-width: 768px) {
    .search-label {
        padding-left: 2rem;
        transition:padding-left linear 200ms
    }
}

.search-label .search-icon {
    width: 1.2rem;
    height: 1.2rem;
    align-self: center;
    color:#959396
}

.search-results {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08)
}

@media (min-width: 768px) {
    .search-results {
        top: 100%;
        width: 536px;
        max-height:calc(100vh - 200%) !important
    }
}

.search-results-list {
    padding-left: 0;
    margin-bottom: .25rem;
    list-style: none;
    font-size:15px !important
}

@media (min-width: 31.25rem) {
    .search-results-list {
        font-size:16px !important
    }
}

@media (min-width: 768px) {
    .search-results-list {
        font-size:12px !important
    }
}

@media (min-width: 768px) and(min-width: 31.25rem) {
    .search-results-list {
        font-size:14px !important
    }
}

.search-results-list-item {
    padding: 0;
    margin:0
}

.search-result {
    display: block;
    padding-top: .25rem;
    padding-right: .75rem;
    padding-bottom: .25rem;
    padding-left:.75rem
}

.search-result:hover, .search-result.active {
    background-color:#ebedf5
}

.search-result-title {
    display: block;
    padding-top: .5rem;
    padding-bottom:.5rem
}

@media (min-width: 31.25rem) {
    .search-result-title {
        display: inline-block;
        width: 40%;
        padding-right: .5rem;
        vertical-align:top
    }
}

.search-result-doc {
    display: flex;
    align-items: center;
    word-wrap:break-word
}

.search-result-doc.search-result-doc-parent {
    opacity: 0.5;
    font-size:12px !important
}

@media (min-width: 31.25rem) {
    .search-result-doc.search-result-doc-parent {
        font-size:14px !important
    }
}

@media (min-width: 768px) {
    .search-result-doc.search-result-doc-parent {
        font-size:11px !important
    }
}

@media (min-width: 768px) and(min-width: 31.25rem) {
    .search-result-doc.search-result-doc-parent {
        font-size:12px !important
    }
}

.search-result-doc .search-result-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    color: #7253ed;
    flex-shrink:0
}

.search-result-doc .search-result-doc-title {
    overflow:auto;
    color: rgb(247, 38, 33) !important;
    -webkit-font-smoothing: antialiased;

}

.search-result-section {
    margin-left: 1.5rem;
    word-wrap:break-word
}

.search-result-rel-url {
    display: block;
    margin-left: 1.5rem;
    overflow: hidden;
    color: #959396;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:9px !important
}

@media (min-width: 31.25rem) {
    .search-result-rel-url {
        font-size:10px !important
    }
}

.search-result-previews {
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    margin-left: .5rem;
    color: #959396;
    word-wrap: break-word;
    border-left: 1px solid;
    border-left-color: #eeebee;
    font-size:11px !important
}

@media (min-width: 31.25rem) {
    .search-result-previews {
        font-size:12px !important
    }
}

@media (min-width: 31.25rem) {
    .search-result-previews {
        display: inline-block;
        width: 60%;
        padding-left: .5rem;
        margin-left: 0;
        vertical-align:top
    }
}

.search-result-preview + .search-result-preview {
    margin-top:.25rem
}

.search-result-highlight {
    font-weight:600;
}

.search-no-result {
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size:12px !important
}

@media (min-width: 31.25rem) {
    .search-no-result {
        font-size:14px !important
    }
}

.search-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border: 1px solid rgba(114, 83, 237, 0.3);
    border-radius: 1.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    align-items: center;
    justify-content:center
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition:opacity ease 400ms, width 0s 400ms, height 0s 400ms
}

.search-active .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:0
}

.search-active .search-input-wrap {
    height: 4rem;
    border-radius:0
}

@media (min-width: 768px) {
    .search-active .search-input-wrap {
        width: 536px;
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08)
    }
}

.search-active .search-input {
    background-color:#fff
}

@media (min-width: 768px) {
    .search-active .search-input {
        padding-left:2.75rem
    }
}

@media (min-width: 768px) {
    .search-active .search-label {
        padding-left:1.25rem
    }
}

.search-active .search-results {
    display:block
}

.search-active .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition:opacity ease 400ms, width 0s, height 0s
}

@media (min-width: 768px) {
    .search-active .main {
        position: fixed;
        right: 0;
        left:0
    }
}

.search-active .main-header {
    padding-top:4rem
}

@media (min-width: 768px) {
    .search-active .main-header {
        padding-top:0
    }
}